@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes shimmer {
   0% {
      background-position: -400px 0;
   }

   100% {
      background-position: 400px 0;
   }
}

.shimmer {
   background: linear-gradient(90deg,
         rgba(255, 255, 255, 0.04) 25%,
         rgba(255, 255, 255, 0.08) 37%,
         rgba(255, 255, 255, 0.04) 63%);
   background-size: 400px 100%;
   animation: shimmer 1.4s ease infinite;
}